@model banhang_64131236.Models.HoaDon

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Details</h2>

<div>
    <h4>HoaDon</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NgayGD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayGD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DonHang.TrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonHang.TrangThai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KhachHang.TenKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KhachHang.TenKH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NhanVien.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhanVien.username)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SoHD }) |
    @Html.ActionLink("Back to List", "Index")
</p>
